.row:after {
    content: '';
    display: block;
    clear: both;
}
.row {
    width: auto;
}

#scale-wrap {
    transform-origin: 0 0;
}

#world {
    border-left: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
    margin: 10px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px #6d6d6d;
}

#zoom {
    position: fixed;
    bottom: 96px;
    left: 40px;
    background: rgba(234, 234, 234, 0.66);
    border-radius: 4px;
    height: 77px;
    width: auto;
    padding: 5px 7px;
    z-index: 9999;
}

#zoom > div {
    cursor: pointer;
    margin: 15px auto;
}

#menu {
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: rgba(234, 234, 234, 0.66);
    height: 26px;
    width: auto;
    padding: 0 20px;
    border-radius: 4px;
    z-index: 9999;
}

#menu > div {
    float: left;
}

#menu > .btn {
    cursor: pointer;
    margin: 4px 12px;
}

#menu > .text {
    margin: 4px 10px;
}

#menu > #slower {
    margin-left: 37px;
    margin-right: 0;
}

#menu > #faster {
    margin: 4px 0;
}

.cell {
    width: 12px;
    height: 12px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    float: left;
}

.cell.alive {
    background-color: black;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}